---
import Layout from "../layouts/Layout.astro"
import Badge from "../components/Badge.astro"
import SectionContainer from "../components/SectionContainer.astro"
import LinkedInIcon from "../components/icons/LinkedIn.astro"
import SocialPill from "../components/SocialPill.astro"
import GitHubIcon from "../components/icons/GitHub.astro"
import MailIcon from "../components/icons/Mail.astro"
import Experience from "../components/Experience.astro"
import Briefcase from "../components/icons/Briefcase.astro"
import CodeIcon from "../components/icons/Code.astro"
import Projects from "../components/Projects.astro"
---

<Layout
  title="Porfolio de AgentitoE - Desarrollador de servers de Minecraft y Discord"
  description="Contrata a AgentitoE para tus servidores de Minecraft y Discord. Desarrollador Discord y Minecraft. Especializado en crear servidores unicos."
>
  <main class="px-4">
    <SectionContainer class="py-44 pb-32">
      <img
        class="rounded-full size-12 mb-4"
        src="/agentitoe.png"
        alt="midudev photo"
      />
      <h1
        class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
      >
        Hey, soy AgentitoE <a
          href="https://twitter.com/AgenteE123"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>
      <h2 class="text-xl lg:text-2xl text-balance max-w-[700px]">
        <span>+3 años de experiencia.</span><span class="text-yellow-200">
          Desarrollador Minecraft y Discord</span
        >
         .<span class="text-red-200"> De Granada, España</span>.
        <span class="text-sky-200"
          >Especializado en crear servidores unicos.</span
        >
      </h2>

      <nav class="flex gap-4 mt-8 flex-wrap">
        <SocialPill href="https://twitter.com/AgenteE123">
          <img src="/x_dark.svg" class="size-4 md:size-6" />
           Twitter
        </SocialPill>
        <SocialPill>
          <img src="/discord.svg" class="size-4 md:size-6" />
           agentitoe
        </SocialPill>
        <SocialPill href="mailto:agentee200@gmail.com">
          <MailIcon class="size-4 md:size-6" />
          agentee200@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="experiencia">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <Briefcase class="size-7" />
         Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <CodeIcon class="size-7" />
         Proyectos
      </h2>
      <Projects />
    </SectionContainer>
  </main>
</Layout>
