---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {  
    date: "Actualmente...",
    title: "Owner y CEO - LigasCraft",
    description:
      "Un servidor de Minecraft y Discord actualmente en desarrollo que tendra una gran variedad de modalidades y cosas divertidas y custom.",
    link: "https://discord.gg/yEpQrmV8nA"  
  },
  {
    date: "Enero 2024",
    title: "Mod y Developer en Discord - JabatoWiz",
    description:
      "Servidor de Discord de un Streamer de Twitch creado y desarrolado por mi y actualmente lo modero y el servidor tiene toda variedad de juegos y canales.",
    link: "https://discord.gg/3XW49ZskFU"  
  },  
  {
    date: "Enero 2024",
    title: "Mod en Twitch − JabatoWiz",
    description:
      "Canal de Twitch con 1500 seguidores y mas o menos 100 subs que suele jugar a juegos como Fortnite y EA FC 24, y por las noches juegos con seguidores como Gartic Phone y Among Us",
    link: "https://twitch.tv/jabatowiz",
  },
  {
    date: "Diciembre 2023",
    title: "Founder and CEO − UniversalWorld",
    description:
      "Un servidor de Minecraft dedicado a que los jugadores tengan una gran experiencia custom en Survival, BoxPVP y SkyBlock. Un servidor actualmente cerrado.",
  },
]
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
