---
const PROJECTS = [
  {
    title: "JabatoWiz - Servidor de Discord",
    description:
      "Creado para un streamer de Twitch, un server que tiene notificaciones cuando hace stream, canales para chatear y juegos para que sus seguidores se diviertan.",
    link: "https://discord.gg/3XW49ZskFU",
    image: "/projects/jabatodiscord.png",
  },
]
---

{
  PROJECTS.map(({ image, title, description }) => (
    <article>
      <h3 class="text-2xl font-semibold text-yellow-200 mb-2">{title}</h3>
      <p class="text-lg mb-4 text-pretty">{description}</p>
      <ul class="flex gap-x-2 flex-row mb-2">
      </ul>
      <img
        loading="lazy"
        class="rounded shadow-2xl shadow-white/10 aspect-video"
        src={image}
        alt={`Captura de pantalla del proyecto ${image}`}
      />
    </article>
  ))
}
